valid = true;

default_url = "dc1394://";

isrc_feature = [ 1, 495, 612, 0, 0, 0, 0, 0, 0, 1, 1];

loRes        = false;
color16      = false;
fps          = 15;
max_fps_lo   = 120; // max framerate on low resoltion
max_fps_hi   = 60; // max framerate on low resoltion

tagSize   = 0.1275;

//logging
dir = "/tmp/imageLog/";
log = "default.log";

LENGTH_FC = 2;
LENGTH_CC = 2;
LENGTH_KC = 5;
LENGTH_X = 6;

b09d01008b51b8 {
    valid = true;
    id = 0;
    fc = [ 477.73045, 478.72077 ];   
    cc = [ 393.83418, 256.00990 ];
    kc = [ -0.27777, 0.08649, 0.00082, 0.00093, 0.00000 ];
    alpha = 0;
    xyzrpy = [ 0,0,0,0,0,0 ];
}

b09d01008b51ab {
    valid = true;
    id = 1;
    fc = [ 477.73045, 478.72077 ];   
    cc = [ 393.83418, 256.00990 ];
    kc = [ -0.27777, 0.08649, 0.00082, 0.00093, 0.00000 ];
    alpha = 0;
    xyzrpy = [ 0,0,0,0,0,0 ];
}

b09d01008b51b9 {
    valid = true;
    id = 2;
    fc = [ 477.73045, 478.72077 ];   
    cc = [ 393.83418, 256.00990 ];
    kc = [ -0.27777, 0.08649, 0.00082, 0.00093, 0.00000 ];
    alpha = 0;
    xyzrpy = [ 0,0,0,0,0,0 ];
}

b09d01009a46a8 {
    valid = true;
    id = 3;
    fc = [ 477.73045, 478.72077 ];   
    cc = [ 393.83418, 256.00990 ];
    kc = [ -0.27777, 0.08649, 0.00082, 0.00093, 0.00000 ];
    alpha = 0;
    xyzrpy = [ 0,0,0,0,0,0 ];
}

b09d01009a46b6 {
    valid = true;
    id = 4;
    fc = [ 477.73045, 478.72077 ];   
    cc = [ 393.83418, 256.00990 ];
    kc = [ -0.27777, 0.08649, 0.00082, 0.00093, 0.00000 ];
    alpha = 0;
    xyzrpy = [ 0,0,0,0,0,0 ];
}

b09d01009a46bd {
    valid = true;
    id = 5;
    fc = [ 477.73045, 478.72077 ];   
    cc = [ 393.83418, 256.00990 ];
    kc = [ -0.27777, 0.08649, 0.00082, 0.00093, 0.00000 ];
    alpha = 0;
    xyzrpy = [ 0,0,0,0,0,0 ];
}

b09d01008c3f62 {
    valid = true;
    id = 10;
    fc = [ 477.73045, 478.72077 ];   
    cc = [ 393.83418, 256.00990 ];
    kc = [ -0.27777, 0.08649, 0.00082, 0.00093, 0.00000 ];
    alpha = 0;
    xyzrpy = [ 0,0,0,0,0,0 ];
}

b09d01008c3f6a {
    valid = true;
    id = 11;
    fc = [ 477.73045, 478.72077 ];   
    cc = [ 393.83418, 256.00990 ];
    kc = [ -0.27777, 0.08649, 0.00082, 0.00093, 0.00000 ];
    alpha = 0;
    xyzrpy = [ 0,0,0,0,0,0 ];
}

b09d01008e366c {
    valid = true;
    id = 12;
    fc = [ 477.73045, 478.72077 ];   
    cc = [ 393.83418, 256.00990 ];
    kc = [ -0.27777, 0.08649, 0.00082, 0.00093, 0.00000 ];
    alpha = 0;
    xyzrpy = [ 0,0,0,0,0,0 ];
}

sync {                                  // SyncErrorDetector1394 settings
    valid = true;
    samples         = 10;               // 20 sample history
    chi2Tolerance   = 0.001;            // Tolerate Chi^2 error under...
    minimumSlope    = 0.01;             // Minimum slope for timestamp
    timeThresh      = 0.0;              // Suggest restart after holding bad sync for _ seconds
    verbosity       = 0;                // Debugging output level (0=almost none)
    gui             = false;
}

//tags
tag_detector {
    valid = true;
    family      = "Tag36h11";               // tag family for detections

    segSigma    = 1;
    sigma       = 0;
    minMag      = 0.004;
    maxEdgeCost_deg = 30;
    magThresh   = 2000;
    thetaThresh = 100;
    errorBits   = 0;
    weightScale = 100;
    decimate    = false;
    pxRadiusMax = 200;                      // pixel radius from optical center for tag detections
}

